#canvas3D {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: block;
}

.modelLoadCard {
  width: 200px;
  height: 150px;
  position: relative;
}

.button {
  width: 200px;
  height: 35px;
}
